<header>
  <div class="logo">
    <picture>
      <source media="(max-width: 768px)" srcset="img/mobile-logo.jpg" width="50">
      <img src="img/logo.jpg" alt="서울참정형외과의원 로고">
    </picture>
  </div>
  <!-- 햄버거 버튼 (모바일 전용) -->
  <div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <!-- PC 용 내비게이션 (모바일에서는 사이드 드로어 사용하므로 숨김) -->
  <div class="nav-container" id="nav-container">
    <nav>
      <ul class="main-menu">
        <li>
          <a href="index.html">본원소개</a>
          <ul class="sub-menu">
            <li><a href="about/doctor.html">의료진소개</a></li>
            <li><a href="about/clinic.html">시설안내</a></li>
            <li><a href="about/device.html">장비소개</a></li>
          </ul>
        </li>
        <li>
          <a href="department.html">진료과목</a>
          <ul class="sub-menu">
            <li><a href="department/spine.html">척추</a></li>
            <li><a href="department/shoulder.html">어깨</a></li>
            <li><a href="department/foot.html">족부</a></li>
            <li><a href="department/joint.html">관절</a></li>
            <li><a href="department/hand.html">수부</a></li>
            <li><a href="department/child.html">소아</a></li>
          </ul>
        </li>
        <li>
          <a href="menu/price.html">비급여수가표</a>
        </li>
        <li>
          <a href="menu/wayto.html">오시는길</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
