<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> 서울참정형외과의원 </title>
/* Fab용 아이콘 링크*/ 
<link
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">

</head>
<body{% if page.home %} class="home"{% endif %}> /*index는 home으로 별도 서식 적용*/

  {% include header.html %}
  
  <main>
    {{ content }}
  </main>
  
  {% include footer.html %}
  
  <script src="{{ site.baseurl }}/script.js"></script>
</body>
</html>
